@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background-image: url('/assets/img/welcome.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
}
input:focus{
    outline: none;
}
.detail
{
    background-image: url('/assets/img/welcome.jpeg');
    height: fit-content;
    width: 100%;

} 
@keyframes placeholderAnimation {
    0% { content: ''; }
    10% { content: 'S'; }
    20% { content: 'Se'; }
    30% { content: 'Sea'; }
    40% { content: 'Seac'; }
    50% { content: 'Seach'; }
    60% { content: 'Search'; }
    70% { content: 'Search '; }
    80% { content: 'Search m'; }
    90% { content: 'Search mo'; }
    100% { content: 'Search movi'; }
  }
  
  .placeholder-animation::placeholder {
    animation: placeholderAnimation 2s infinite;
  }
  